body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
}

#dashboard {
  display: none;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}
